In [ ]:
'''
Question: 1
Convert Names and Age as Key ,Value Pairs of a Dictionary
Names : ['Rahul','John','Swathi']
Age : [14,25,8]
'''

In [ ]:
'''
Question: 2
Update the value to 'Singapore' if key is Alvin
places_dict = {'Swamy':'Rjy', 'Rahul':'Hyd', 'Alvin':'Maly', 'Tom':'America'}
'''

In [ ]:
'''
Question: 3
Access the value of d 
nested_dict = {"first": {"a": 1, "b": 2}, "second": {"c": 3, "d": 4}}
Expected output : 4 
'''

In [ ]:
'''
Question: 4
Create a dictionary where the values are squares of the keys.
keys = [5,8,7,9,25]
Note : I am not given you the expected output here because you need to understand the terminolgy 
'''

In [ ]:
'''
Question: 5
Count the number of occurrences of each character in a string using a dictionary.
Example : 
string = 'level'
Output : {'l':2, 'e': 2, 'v':1}
'''

In [ ]:
'''
Question: 6
Write a Python program to concatenate following dictionaries to create a new one.
Sample Output
Dictionary 1 = {"Name" : "Ram" , "Age" : 23}
Dictionary 2 = {"City" : "Salem", "Gender" : "Male"}
Concatenate Dictionaries = {'Name' : 'Ram', 'Age' : 23, 'City' : 'Salem', 'Gender': 'Male'}
'''

In [ ]:
'''
Question: 7
Sort Dictionary by value descending
Sample Output
Before Sort = { 'Tamil': 92, 'Math' : 88, 'Science' : 89, 'Social' : 89, 'English' : 56 }
After Sort = ('Tamil', 92), ('Science', 89), ('Social', 89), ('Math', 88), ('English', 56)
View Solution'''

In [ ]:
'''
Question: 8
Write a Python program to check whether a given key already exists in a dictionary.
Sample Input 
{'Name' : 'Ram', 'Age' : 23,}
Sample Output
Key = Name
Key is Available in the Dictionary'''

In [ ]:
'''
Question: 9
Write a Python program to iterate over dictionaries using for loops.
Sample input 
{"Name" : "Ram" , "Age" : 23 , "City" : "Salem", "Gender" : "Male"}
Sample Output
Name : Ram
Age : 23
City : Salem
Gender : Male
'''

In [ ]:
'''
Question: 10
Write a Python program to sum all the items in a dictionary.
Sample Output
{1 : 23, 2 : 45, 3 : -17, 4 : 87}
Sum all the Items = 138
'''

In [ ]:
'''
Question: 11
Write a Python program to Delete a list of keys from a dictionary
Sample Output
Dictionary = {"Name" : "Tara", "RollNo" : 130046, "Mark" : 450, "Age" : 16, "Gender" : "Female", "City" : "Salem"}
Keys to remove From a Dictionary = ["Gender", "City"]
After Delete Dictionary = {'Name' : 'Tara', 'RollNo' : 130046, 'Mark' : 458, 'Age' : 16}
'''

In [ ]:
'''
Question: 12
Create a dictionary where keys are the words in a sentence and values are their lengths.
sentence = "Python is fun and educational"
Output : {'Python': 6, 'is': 2, 'fun': 3, 'and': 3, 'educational': 11}
'''

In [ ]:
'''
Question: 13
Find the top n most frequent elements in a list using a dictionary.
lst = [3, 1, 3, 2, 3, 1, 2, 2, 1]
n = 2
Output : {3: 3, 1: 3}
'''

In [ ]:
'''
Question: 14
Group the elements of a list based on their first character using a dictionary.
lst = ['apple', 'banana', 'cherry', 'apricot', 'blueberry']
Output : {'a': ['apple', 'apricot'], 'b': ['banana', 'blueberry'], 'c': ['cherry']}
'''

In [ ]:
'''
Question: 15
Invert a dictionary, where the keys become values and the values become keys. If there are duplicate values, group the corresponding keys into a list.
dict1 = {'a': 1, 'b': 2, 'c': 1}
Output : {1: ['a', 'c'], 2: ['b']}
'''

In [ ]:
'''
Question: 16
Find all keys in a dictionary that have the same value.
dict1 = {'apple': 3, 'banana': 1, 'cherry': 2, 'date': 3}
Output : {3: ['apple', 'date']}
'''

In [ ]:
'''
Question: 17
Create a nested dictionary where the outer keys are the unique letters in a list of words, and the inner dictionary contains the word as the key and its length as the value.
words = ['apple', 'banana', 'cherry']
Output : {'a': {'apple': 5, 'banana': 6}, 'b': {'banana': 6}, 'c': {'cherry': 6}}
'''

In [ ]:
'''
Question: 18'''